<h1><%= @author.name %></h1>
<p>Is author living?: <%= @author.alive %></p>
<p>Number of Books: <%= @author.number_books%></p>
<p>Created at: <%= @author.created_at%></p>
<p>Updated at: <%= @author.updated_at%></p>
